@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    height: 100%;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    background-color: hsl(210, 46%, 95%);
}

/* =============================== */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card__here {
}
.card{
    /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%; */
}
.card__container {  
    display: grid;
    grid-template-columns:  300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 20px 20px;
    grid-auto-flow: row dense;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "Danien Danien Jonathan Kira"
      "Jeanette Patrick Patrick Kira";
}

.Danien { grid-area: Danien;
    background-color: hsl(263, 55%, 52%);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.Jonathan { grid-area: Jonathan;
    background-color: hsl(217, 19%, 35%);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
}

.Kira { grid-area: Kira;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px; 
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);    
}

.Jeanette { grid-area: Jeanette;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
}

.Patrick { grid-area: Patrick; 
    background-color: hsl(219, 29%, 14%);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); 
}
.card {
    padding: 30px;
}
.card__header {
    display: flex;
    align-items: center;
    position: relative;
}
.card__header .header__here{
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 100%);
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
.card__header .header__quotation{
    position: absolute;
    top: 0px; right: 30px;
    z-index: -1;
}
.header__Name {
}
.header__name {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
.black{
    color:hsl(219, 29%, 14%);
}

.header__verified {
    color: white;
    opacity: 0.7;
}
.card__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
}
.body__title {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 24px;
}
.bodt__title {
    font-weight: 700;
    color: hsl(219, 29%, 14%);
    font-size: 24px;
}
.bodt__subtitle {
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
    font-size: 16px;
     margin-top: 20px;
}
.body__subtitle{
    color: hsl(219, 29%, 14%);
    opacity: 0.7;
    font-size: 16px;
    margin-top: 20px;
}
@media (min-width:1200px) {

}
